footer.foot
    .container
        div.co-foot
            .row
                .col-sm-12.col-md-1 
                    img.icon-foot(src="./assets/imgs/glass-cheers.png", alt="")
                .col-sm-12.col-md-10
                    b
                        | WARNING,Under the Liquor Control Act 1998, it is an offence:
                    p
                        | To sell or supply liquor to a person under the age of 18 years on a licenced or regulated premises; or for a person under the age of 18 years to purchase, liquor on a licenced or regulated premises.

