mixin imgCircle(x,y="call-to-action-1.png")
    .co-img.component-img-circle(style="border: 20px solid " + x)
        img(src='./assets/imgs/'+y, alt="" class="w-100 h-100")
mixin mainImgeCircle1(x,y)
    .co-main-img.component-main-img-circle-1
        +imgCircle(x)
        p(class="co-para" style="background-color: " + y)
            | Dining Menu
mixin mainBtn(x,y)
    a(href="#" class="component-main-lnk title-fredreka hvr-icon-wobble-horizontal" style="background-color: " + x)
        | Read 
        if y
            br
        | More
        i.fas.fa-angle-right.icon.hvr-icon
mixin mainHeading(x,y,z)
    .component-main-title
        h2(class="title font-pacifico" style="color:" + x)=y
        p(class="sub-title title-fredreka")=z
mixin mainHeading-2(v,x,y,z)
    .component-main-title
        h2(class="title font-pacifico" style="color:" + v)=x
        p(class="sub-title title-fredreka" style="color:" + y)=z
